.hd_bottom_left_item {
  display: flex;
  gap: 10px;
  &:hover {
    cursor: pointer;
    color: var(--color-yellow);
  }
}

.hd_bottom_right_item {
  display: flex;
  gap: 10px;
  &:hover {
    cursor: pointer;
    color: var(--color-yellow);
    text-decoration: underline;
  }
}
