.hd_bottom_left_item {
  display: flex;
  gap: 10px;

  &:hover {
    cursor: pointer;
    color: var(--color-yellow);
  }
}

.hd_bottom_right_item {
  display: flex;
  gap: 10px;

  &:hover {
    cursor: pointer;
    color: var(--color-yellow);
    text-decoration: underline;
  }
}

/* Header.module.scss */

.logoutBtn {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0.5rem 1rem;
  /* px-4 py-2 */
  font-size: 13px;
  color: #ffffff;
  border-radius: 0.375rem;
  border: 2px solid #d97706;
  /* amber-800 */
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.logoutBtn:hover {
  background-color: #ef4444;
  /* red-500 */
}

.select_cinema {
  width: 100%;
  min-width: 0 !important;

  // bên trong khung hiển thị (selector)
  :global(.ant-select-selector) {
    width: 100% !important;
    background-color: var(--color-blue-black) !important;
    border: 1px #ccc solid !important;
  }

  :global(.ant-select-arrow) {
    color: var(--color-yellow) !important;
  }

  :global(.ant-select-selection-placeholder),
  :global(.ant-select-selection-item) {
    color: var(--color-yellow) !important;
    font-weight: bold !important;
  }
}
