.int_group {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 8px;
}

.int_group input {
  outline: none;
  border: 1px #99a1af solid;
  border-radius: 8px;
  padding: 4px;
}

/* trạng thái disabled */
.disabled {
  input {
    background: #f3f4f6;
    color: #6b7280;
    cursor: not-allowed;
    border-style: dashed;
  }
}

// sơ đồ
.diagram {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.row {
  display: flex;
  gap: 6px;
}

.seat,
.aside {
  width: 32px;
  height: 32px;
  border-radius: 6px;
}

/* Ghế */
.seat {
  user-select: none;
  background: var(--color-yellow);
  color: #000;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Lối đi / aside */
.aside {
  user-select: none;
  background: #d1d5db; // xám
}

.actions {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.actions button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

/* Quay lại */
.btnBack {
  background: #e5e7eb;
  color: #374151;

  &:hover {
    background: #d1d5db;
  }
}

/* Làm mới */
.btnReset {
  background: #fde68a;
  color: #92400e;

  &:hover {
    background: #fcd34d;
  }
}

.btnSubmit {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 10px 18px;
  border-radius: 8px;
  border: none;

  background-color: #2563eb; /* xanh dương */
  color: white;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s ease, transform 0.1s ease;
}

.btnSubmit:hover {
  background-color: #1e40af;
}

.btnSubmit:active {
  transform: scale(0.97);
}

.btnSubmit svg {
  font-size: 14px;
}

.selected {
  outline: 2px dashed #3b82f6;
  background: rgba(59, 130, 246, 0.15);
}

.action_bar_item {
  display: flex;
  gap: 10px;
}

.action_bar_btn {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 6px 12px;
  border-radius: 6px;

  border: 1px solid #d1d5db;
  background-color: #fff;

  font-size: 14px;
  font-weight: 500;

  cursor: pointer;
  transition: all 0.2s ease;
}

/* đang được chọn */
.action_bar_btn_select {
  background-color: #0d9488; /* teal-600 */
  border-color: #0d9488;
  color: #fff;
}

/* icon khi selected */
.action_bar_btn_select svg {
  color: #fff !important;
}

/* hiệu ứng nhấn */
.action_bar_btn:active {
  transform: scale(0.97);
}

.cursorPointer {
  cursor: pointer;
}
