.cinema_item {
  display: flex;
  align-items: center;
}

.action_btn {
  font-size: large;
  padding: 2px;
  cursor: pointer;
  &:hover {
    transform: scale(1.2);
  }
}

.action_btn svg {
  outline: none;
  border: none;
}

.btn_add {
  padding: 8px 20px;
  cursor: pointer;
  font-weight: bold;
  background-color: #2563eb;
  color: white;
  border-radius: 8px;

  &:hover {
    background-color: #1e40af;
  }
}

// form
/* group */
.form_input_group {
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* label */
.form_input_group label {
  min-width: 120px; /* giúp các input thẳng hàng */
  font-size: 14px;
  font-weight: 500;
  color: #475569; /* slate-600 */
}

/* input & select */
.form_input_group input {
  flex: 1;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cbd5e1; /* slate-300 */
  outline: none;
  transition: all 0.2s ease;
}

.form_input_group select {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #cbd5e1; /* slate-300 */
  outline: none;
  transition: all 0.2s ease;
}

/* focus */
.form_input_group input:focus,
.form_input_group select:focus {
  border-color: #38bdf8; /* sky-400 */
  box-shadow: 0 0 0 2px rgba(56, 189, 248, 0.25);
}

/* disabled (nếu có) */
.form_input_group input:disabled {
  background-color: #f1f5f9;
  cursor: not-allowed;
}
