.select {
  :global(.ant-select-selector) {
    color: var(--color-purple) !important;
    font-weight: bold !important;
    width: 160px !important;
  }

  :global(.ant-select-selection-placeholder),
  :global(.ant-select-selection-item) {
    color: var(--color-purple) !important;
    font-weight: bold !important;
  }
}

.dropdown {
  :global(.ant-select-dropdown) {
    width: auto !important;
    min-width: max-content !important; // tự giãn theo nội dung
  }

  // not found content
  :global(.ant-select-item-empty) {
    padding: 10px 12px;
    font-size: 14px;
    color: #575555;
    text-align: center;
    line-height: 1.4;
  }
}
