.ft_title {
  font-weight: bold;
  margin-bottom: 10px;
}

.ft_item {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 5px 0;
  &:hover {
    color: var(--color-yellow);
  }
}

.ft_item_m {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  margin: 8px 0;
  padding: 4px;
}
